<body style="background-color:coral">
    <div>
        <h3>Oprer</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.BakeId" name="BakeId" />
            <div class="form-group">
                <label>User</label>
                <input type="text" name="Username" />
            </div>
            <div class="form-group">
                <label>Adress</label>
                <input type="text" name="Adress" />
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" name="Tel" />
            </div>
            <input type="submit" />
        </form>
    </div>

</body>
